*{
	margin:0px;
	padding:0px;
}

.bgimage{
	
	background-image: url('tt.jpg');
	background-size: cover;
	height: 100vh;
}

.menu{

	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.5);
}

.leftmenu{
	width: 20%;
	line-height: 80px;
	float: left;
/*	background-color: yellow;*/
}

.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	display: inline-block;
	/*line-height: 100px;
*/
}


.rightmenu{
	width:75%;
	line-height: 80px;
	float: right;
/*	background-color: red; */
}

.rightmenu ul{
	margin-left: 150px;

}

.rightmenu ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 46px;
	
	text-transform: uppercase;

}

.leftmenu h4:hover{
	color: orange;
}


.sub-menu
{
	display: none;
}



.rightmenu ul li:hover .sub-menu
{
	display: block;
	position: absolute;
	background-color: rgb(0,0,0,0.5	);
	margin-top: 0px;
	margin-left: -15px;
	


}


.rightmenu ul li:hover .sub-menu ul
{	
	align-self:auto;
	margin: 5px;
	width: 150px;
	padding: 1px;
	border-bottom: 1px dotted;
	background: transparent;
    border-radius: 0;
	text-align: center;
	
}


.rightmenu ul li:hover{
	color: orange;

}
.text p{
	width: 60%;
	margin-top: 50px;
	margin-left: 20px;
	text-transform: uppercase;
	text-align: left;
	color: white;
}
