*{
	margin:0px;
	padding:0px;
}

.bgimage{
	background-image: url('industry40-1920.jpg');
	background-size: cover;
	height: 100vh;
}

.menu{

	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.5);
}

.leftmenu{
	width: 25%;
	line-height: 80px;
	float: left;
/*	background-color: yellow;*/
}



.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;

}


.rightmenu{
	width:75%;
	line-height: 80px;
	float: right;
/*	background-color: red; */
}

.rightmenu ul{
	margin-left: 150px;

}

.rightmenu ul li 
{
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:white;
	font-weight: bold;
	/*line-height: 100px;*/
	margin-left: 46px;
	text-transform: uppercase;

}

.sub-menu1
{
	display: none;
}



.rightmenu ul li:hover .sub-menu1
{
	display: block;
	position: absolute;
	background-color: rgb(0,0,0,0.5	);
	margin-top: 0px;
	margin-left: -15px;
	


}


.rightmenu ul li:hover .sub-menu1 ul
{	
	align-self:auto;
	margin: 5px;
	width: 150px;
	padding: 1px;
	border-bottom: 1px dotted;
	background: transparent;
    border-radius: 0;
	text-align: center;
	
}



.sub-menu
{
	display: none;
}



.rightmenu ul li:hover .sub-menu
{
	display: block;
	position: absolute;
	background-color: rgb(0,0,0,0.5	);
/*	margin-top: 0px;
	*/margin-left: -15px;
	


}


.rightmenu ul li:hover .sub-menu ul
{	
	align-self:auto;
	margin: 5px;
	width: 150px;
	padding: 1px;
	border-bottom: 1px dotted;
	background: transparent;
    border-radius: 0;
	text-align: center;
	
}

/*.rightmenu ul li:hover .sub-menu li
{
	width: 100px;
	padding: 5px;
	border-bottom: 1px dotted;
	background: transparent;
    border-radius: 0;
	text-align: left;
}*/


#fisrtlist{
	color: orange;
}

.rightmenu ul li:hover{
	color: orange;
}

.leftmenu h4:hover{
	color: orange;
}


.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color:black;
}

.text h4{

	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.text h1{
	font-size:62px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
}

.text h3{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}

/*
#buttonone{
	background-color: powderblue;
	border: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	width: 150px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 25px;
	border: 3px solid white;
}

#buttontwo{
	background-color: powderblue;
	border: none;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	border: 3px solid white;
	width: 150px;
}
*/

